<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="/Content/CitizenIndex.css" />
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="https://iconape.com/wp-content/files/lc/258474/svg/258474.svg" width="100" height="100" class="d-inline-block align-top" alt="">
        </a>
        <div class="nav">
            <h3><a class="nav-item nav-link active" href="/Citizen/Home">Home <span class="sr-only">(current)</span></a></h3>
            <h3><a class="nav-item nav-link" href="/Citizen/Qualification">Qualification</a></h3>
            <h3><a class="nav-item nav-link" href="/Citizen/CitizenComplaint">Complaints</a></h3>
            <h3><a class="nav-item nav-link" href="/Citizen/UpdateLocation">Location</a></h3>
        </div>

        <a class="navbar-brand" href="#">
            <img src="https://eservices.immigration.gov.lk/vs/images/immigration-logo.png" width="100" height="100" class="d-inline-block align-top" alt="">
        </a>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
