
@{
    ViewBag.Title = "Qualification";
    Layout = "~/Views/Shared/_CitizenLayout.cshtml";
}

<div id="divCitizenQualifications" align="center">
    <form method="post" action="" enctype="multipart/form-data"
          id="myform">
        <div class="jumbotron">
            <div class="form-group col-6">
                <div class="form-field mb-2">
                    <label class="form-label">Upload Your Qulification</label>
                    <textarea id="txtQualification" name="txtQualification" class="form-control text-area" placeholder="Type Your Qualification Here !!!!" v-model="qualifications.qualifications" rows="3"></textarea>
                </div>
            </div>
            <input type="file" id="cv" name="cv" />
            <input type="file" id="birthcert" name="birthcert" />
            <input type="file" id="passport" name="passport" />
            <button type="button" class="btn btn-primary btn-sm" value="Upload" @@click="update"
                    id="butn_upload">
                Upload
            </button>
        </div>

    </form>
</div>

@section Scripts {

    <script>
    Vue.config.devtools = true;

    if (vueCitizenQualifications != null) {
        vueCitizenQualifications.$destroy();
    }


    var vueCitizenQualifications = new Vue({
        el: '#divCitizenQualifications',
        data: {
            qualifications: {},


        },
        methods: {
            update() {
                var url = "https://edu.santhawa.lk/apiv1/citizen/20";

                var xhr = new XMLHttpRequest();
                xhr.open("PUT", url);

                xhr.setRequestHeader("Content-Type", "application/json");

                xhr.setRequestHeader("Authorization", getCookie('token'));

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        console.log(xhr.status);
                        console.log(xhr.responseText);
                    }
                };

                var data = `{
                  "qualifications": vueCitizenQualifications,
                }`;

                xhr.send(JSON.stringify(vueCitizenQualifications.qualifications));
            },
            sendHeaders() {
                $.ajaxSetup({
                    headers: {
                        'Authorization': getCookie('token')
                    }
                });
            }

        },
        computed: {
        },
        mounted() {
            this.sendHeaders();
        },
    });
        $(document).ready(function () {
            $("#but_uplfoad").click(function () {
                var fd = new FormData();
                var cv = $('#cv')[0].files[0];
                var birthcert = $('#birthcert')[0].files[0];
                var passport = $('#passport')[0].files[0];
                fd.append('cv', cv);
                fd.append('birthcert', birthcert);
                fd.append('passport', passport);

                $.ajax({
                    url: 'https://edu.santhawa.lk/apiv1/citizen/17',
                    type: 'post',
                    data: fd,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        if (response != 0) {
                            alert('file uploaded');
                        }
                        else {
                            alert('file not uploaded');
                        }
                    },
                });
            });
        });
        if (getCookie('token') != null) {
            $.ajax({
                url: "https://edu.santhawa.lk/apiv1/login/check",
                type: "GET",
                beforeSend: function (xhr) { xhr.setRequestHeader('Authorization', getCookie('token')); },
                success: function () {  }
            })
                .fail(function (response) { eraseCookie("token"); window.location.href = "/Login"; });
        }
        else {
            window.location.href = "/Login";
        }
       
    </script>
}




