
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_CitizenLayout.cshtml";
}
<div id="divCitizens" class="justify-content-center" v-cloak>
    <div class="jumbotron">
        <div class="card-body ">
            <form id="frmCitizen" v-if="editCitizen">
                <h3>Citizen Registraion</h3>
                <div class="form-row">
                    <div class="form-group col-6">
                        <div class="form-field mb-2">
                            <label class="form-label">First Name</label>
                            <input type="text" class="form-control" placeholder="" v-model="editCitizen.first_name">
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-control" placeholder="" v-model="editCitizen.last_name">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-6 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <label class="form-label">Select Your Profession</label>
                            <template>
                                <v-select v-model="editCitizen.profession"
                                          :reduce="Pro => Pro.ID"
                                          label="Pro"
                                          :options="professions"
                                          placeholder="Select Professions"
                                          :loading="!professions.length" />
                                <template #spinner="{ loading }">
                                    <div v-if="loading" style="border-left-color: rgba(88, 151, 251, 0.71)" class="vs__spinner">
                                    </div>
                                </template>
                                <template #search="{attributes, events}">
                                    <input class="vs__search"
                                           :required="!professionId"
                                           v-bind="attributes"
                                           v-on="events" />
                                </template>
                            </template>
                        </div>
                    </div>
                    <div class="col-6 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <label class="form-label">Affiliation</label>
                            <input type="text" class="form-control" placeholder="" v-model="editCitizen.affiliation">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-6 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <label class="form-label">Password</label>
                            <input type="text" class="form-control" placeholder="" v-model="editCitizen.password">
                        </div>
                    </div>
                    <div class="col-6 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <label class="form-label">Date Of Birth</label>
                            <input type="text" class="form-control datepicker-input" placeholder="" v-model="editCitizen.dob">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-6 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <label class="form-label">NIC</label>
                            <input type="text" class="form-control" placeholder="" v-model="editCitizen.nic">
                        </div>
                    </div>
                    <div class="col-6 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <label class="form-label">Email</label>
                            <input type="text" class="form-control" placeholder="" v-model="editCitizen.email">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 float-start px-0 px-md-1">
                        <label class="form-label">Select Your Location</label>
                        <div id="map" style="width:100%;height:400px;"></div>
                    </div>
                </div>
                &nbsp;
                <div class="form-row">
                    <div class="col-6 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <label class="form-label">Contact Name I</label>
                            <input type="text" class="form-control" placeholder="" v-model="editCitizen.ContactName1">
                        </div>
                    </div>
                    <div class="col-6 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <label class="form-label">Contact Number II</label>
                            <input type="text" class="form-control" placeholder="" v-model="editCitizen.Contact1">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-6 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <label class="form-label">Contact Name II</label>
                            <input type="text" class="form-control" placeholder="" v-model="editCitizen.ContactName2">
                        </div>
                    </div>
                    <div class="col-6 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <label class="form-label">Contact Number II</label>
                            <input type="text" class="form-control" placeholder="" v-model="editCitizen.Contact2">
                        </div>
                    </div>
                </div>
                &nbsp;
                <div class="form-row">
                    <div class="col-6 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <button type="button" class="col-12 btn btn-warning btn-lg">Reset</button>
                        </div>
                    </div>
                    <div class="col-6 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <button type="button" @@click="addCitizen" class="col-12 btn btn-primary btn-lg">Save Citizen</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        Vue.config.devtools = true;

        if (vueCitizens != null) {
            vueCitizens.$destroy();
        }
        Vue.component("v-select", VueSelect.VueSelect);

        var vueCitizens = new Vue({
            el: '#divCitizens',
            data: {
                editCitizen: {},
                professions: [],
                professionId: null,
                location: {},



            },
            methods: {
                addCitizen() {
                    $.post('https://edu.santhawa.lk/apiv1/citizen', vueCitizens.editCitizen, function (response) {
                        alert("success");
                    })
                        .fail(function (response) { alert('Error' + response.responseText) });
                },
                getProfessions() {
                    $.get('https://edu.santhawa.lk/apiv1/citizen/professions?format=json', function (data, status, response) {
                        vueCitizens.professions = data;
                    })
                },
                initMap() {
                    const myLatlng = { lat: -25.363, lng: 131.044 };
                    const map = new google.maps.Map(document.getElementById("map"), {
                        zoom: 4,
                        center: myLatlng,
                    });
                    // Create the initial InfoWindow.
                    let infoWindow = new google.maps.InfoWindow({
                        content: "Click the map to get Lat/Lng!",
                        position: myLatlng,
                    });

                    infoWindow.open(map);
                    // Configure the click listener.
                    map.addListener("click", (mapsMouseEvent) => {

                        this.location = mapsMouseEvent.latLng.toJSON();
                        vueCitizens.editCitizen.latitude = this.location.lat.toFixed(6);
                        vueCitizens.editCitizen.longitude = this.location.lng.toFixed(6);
                        // Close the current InfoWindow.
                        infoWindow.close();
                        // Create a new InfoWindow.
                        infoWindow = new google.maps.InfoWindow({
                            position: mapsMouseEvent.latLng,
                        });
                        infoWindow.setContent(
                            JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2)
                        );
                        infoWindow.open(map);

                    });
                },


            },
            computed: {
            },
            mounted() {
                this.getProfessions();
                window.initMap = this.initMap;

            },
        });
        $(function () {
            jQuery('.datepicker-input').datetimepicker({
                timepicker: false,
                format: 'd/m/Y'
            });
        });
    </script>
}

