
@{
    ViewBag.Title = "ResponseDetail";
    Layout = "~/Views/Shared/_CitizenLayout.cshtml";
}
<div id="divCitizenComplaint" class="justify-content-center" v-cloak>
    <div class="jumbotron">
        <div class="card-body ">
            <form id="frmCitizenComplaint">
                <h3> Citizen Complaint</h3>
                <div class="form-row">
                    <div class="form-group col-8">
                        <div class="col-12 float-start px-0 px-md-1">
                            <label class="form-label"></label>
                            <textarea id="txtComplaint" style="font-style: italic; font-weight: bold" name="txtComplaint" class="form-control text-area" placeholder="" v-model="complaint.complaint" rows="3" readonly></textarea>
                        </div>
                    </div>

                    <div class="form-group col-8">
                        <div class="col-12 float-start px-0 px-md-1">
                            <textarea style="text-align: right; font-style:italic; font-weight:bold" id="txtComplaint" name="txtComplaint" class="form-control text-area" placeholder="" v-model="complaint.response" rows="3" readonly></textarea>
                            <input type="text" style="text-align: right; border: none; font-style: italic;" class="form-control" placeholder="" v-model="complaint.officer" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="card-body">
                      
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        const urlParams = new URLSearchParams(window.location.search);
        const param = urlParams.get('id');

    Vue.config.devtools = true;

    if (vueCitizenComplaint != null) {
        vueCitizenComplaint.$destroy();
    }


        var vueCitizenComplaint = new Vue({
            el: '#divCitizenComplaint',
            data: {
            complaint: { citizen_id: getCookie('userId') },
            complaints: [],
            editComplaintId: { id: param },
     



        },
        methods: {
            getComplaintByCitizenId() {
                $.get('https://edu.santhawa.lk/apiv1/complaint/' + String(this.editComplaintId.id), function (data, status, response) {
                    vueCitizenComplaint.complaint = data;
                })
                    .fail(function (response) { notifyError("Error Occurred"); });
            },
            sendHeaders() {
                $.ajaxSetup({
                    headers: {
                        'Authorization': getCookie('token')
                    }
                });
            }




        },
        computed: {
        },
            mounted() {
                this.sendHeaders();
            if (param != null)
                this.getComplaintByCitizenId();

             },
        });
        if (getCookie('token') != null) {
            $.ajax({
                url: "https://edu.santhawa.lk/apiv1/login/check",
                type: "GET",
                beforeSend: function (xhr) { xhr.setRequestHeader('Authorization', getCookie('token')); },
                success: function () { }
            })
                .fail(function (response) { eraseCookie("token"); window.location.href = "/Login"; });
        }
        else {
            window.location.href = "/Login";
        }
    </script>
}





