
@{
    ViewBag.Title = "QualificationDetail";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}
<div id="divCitizenDetails" class="justify-content-center" v-cloak>
    <div class="jumbotron">
        <div class="card-body ">
            <form id="frmCitizenDetails">
                <h3>Citizen Details</h3>
                <div class="form-row">
                    <div class="form-group col-6">
                        <div class="form-field mb-2">
                            <input type="text" class="form-control" placeholder="Search By NIC" v-model="editCitizenNic.nic">
                        </div>
                    </div>
                    <div class="col-6 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <button type="button" @@click="getCitizenDetail" class="col-3 btn btn-primary">Search</button>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-6">
                        <div class="form-field mb-2">
                            <label class="form-label">First Name</label>
                            <input type="text" class="form-control" placeholder="" v-model="editCitizen.first_name">
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-control" placeholder="" v-model="editCitizen.last_name">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-6 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <label class="form-label">Profession</label>
                            <input type="text" class="form-control" placeholder="" v-model="editCitizen.profession">
                        </div>
                    </div>
                    <div class="col-6 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <label class="form-label">Affiliation</label>
                            <input type="text" class="form-control" placeholder="" v-model="editCitizen.affiliation">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-6 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <label class="form-label">Date Of Birth</label>
                            <input type="text" class="form-control datepicker-input" placeholder="" v-model="editCitizen.dob">
                        </div>
                    </div>
                    <div class="col-6 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <label class="form-label">Email</label>
                            <input type="text" class="form-control" placeholder="" v-model="editCitizen.email">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 float-start px-0 px-md-1">
                        <label class="form-label">Select Your Location</label>
                        <div id="map" style="width:100%;height:400px;"></div>
                    </div>
                </div>
                &nbsp;
                <div class="form-row">
                    <div class="col-6 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <label class="form-label">Contact Name I</label>
                            <input type="text" class="form-control" placeholder="" v-model="editCitizen.ContactName1">
                        </div>
                    </div>
                    <div class="col-6 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <label class="form-label">Contact Number II</label>
                            <input type="text" class="form-control" placeholder="" v-model="editCitizen.Contact1">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-6 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <label class="form-label">Contact Name II</label>
                            <input type="text" class="form-control" placeholder="" v-model="editCitizen.ContactName2">
                        </div>
                    </div>
                    <div class="col-6 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <label class="form-label">Contact Number II</label>
                            <input type="text" class="form-control" placeholder="" v-model="editCitizen.Contact2">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <label class="form-label">Qualification</label>
                            <textarea id="txtQualification" name="txtQualification" class="form-control text-area" placeholder="Type Your Qualification Here !!!!" v-model="editCitizen.Q.Qualifications" rows="3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-4 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <a :href="editCitizen.Q.CV">Download CV Here..</a>
                        </div>
                    </div>
                    <div class="col-4 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <a :href="editCitizen.Q.birthCert">Download Birth Certificate Here..</a>
                        </div>
                    </div>
                    <div class="col-4 float-start px-0 px-md-1">
                        <div class="form-field mb-2">
                            <a :href="editCitizen.Q.Passport">Download Passport Here..</a>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-6 float-start px-0 px-md-1">
                            <div class="form-field mb-2">
                                <button type="button" @@click="selectCitizen" class="col-12 btn btn-primary">Select</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const param = urlParams.get('nic');

        var markers = [];

        function clearMarkers() {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
            markers.length = 0;
        }

    Vue.config.devtools = true;

    if (vueCitizenDetails != null) {
        vueCitizenDetails.$destroy();
    }

    var vueCitizenDetails = new Vue({
        el: '#divCitizenDetails',
        data: {
            editCitizenNic: { nic: param },
            editCitizen: { Q:''},
            map: null,



        },
        methods: {
            getCitizenDetail() {
                $.ajax({
                    url: 'https://edu.santhawa.lk/apiv1/citizen/' + String(this.editCitizenNic.nic),
                    type: 'GET',
                    contentType: 'application/json',
                    headers: { "Authorization": "KBL08wP3ClWhNsEJ2kWlCvN5H1wZjcCo" },
                    success: function (data, status, response) {
                        console.log(data);
                        clearMarkers();
                        vueCitizenDetails.editCitizen = JSON.parse(response.responseText);
                        var myLatlng = new google.maps.LatLng((vueCitizenDetails.editCitizen.latitude), (vueCitizenDetails.editCitizen.longitude))
                        var marker = new google.maps.Marker({ position: myLatlng, title: "Citizen's Location", });
                        markers.push(marker);
                        marker.setMap(vueCitizenDetails.map);
                        vueCitizenDetails.map.panTo(myLatlng);

                    },
                });
            },
            initMap() {
                const defLatLng = { lat: 25.363, lng: 131.044 };
                this.map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 4,
                    center: defLatLng,
                });
            },
            selectCitizen() {
                if (getCookie("selectIds") == null) {
                    var arr = [parseInt(this.editCitizen.id)];
                    setCookie('selectIds', JSON.stringify(arr));
                }
                else {
                    var json_str = getCookie("selectIds");
                    var arr = JSON.parse(json_str);
                    if (arr.indexOf(parseInt(this.editCitizen.id)) == -1) {
                        arr.push(parseInt(this.editCitizen.id));
                        setCookie('selectIds', JSON.stringify(arr));
                    }
                }
            }
            //validateQualification() {
            //    var url = "https://edu.santhawa.lk/apiv1/citizen/" + this.editCitizen.id + "/validate";

            //    var xhr = new XMLHttpRequest();
            //    xhr.open("PUT", url);

            //    xhr.setRequestHeader("Content-Type", "application/json");

            //    xhr.setRequestHeader("Authorization", "KBL08wP3ClWhNsEJ2kWlCvN5H1wZjcCo");

            //    xhr.onreadystatechange = function () {

            //        if (xhr.readyState === 4) {
            //            console.log(xhr.status);
            //            console.log(xhr.responseText);
            //        }
            //    };

            //    var data = '{"validation":"2"}';

            //    xhr.send(data);
            //},
            //rejectQualification() {
            //    var url = "https://edu.santhawa.lk/apiv1/citizen/" + this.editCitizen.id + "/validate";

            //    var xhr = new XMLHttpRequest();
            //    xhr.open("PUT", url);

            //    xhr.setRequestHeader("Content-Type", "application/json");

            //    xhr.setRequestHeader("Authorization", "KBL08wP3ClWhNsEJ2kWlCvN5H1wZjcCo");

            //    xhr.onreadystatechange = function () {

            //        if (xhr.readyState === 4) {
            //            console.log(xhr.status);
            //            console.log(xhr.responseText);
            //        }
            //    };

            //    var data = '{"validation":"1"}';

            //    xhr.send(data);
            //}



        },
        computed: {

        },
        mounted() {
            window.initMap = this.initMap;
            if (param != null)
                this.getCitizenDetail();

        },
    });

    </script>
}




